@model Accountool.Models.Entities.Indication

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Indication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarif1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarif1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schetchik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schetchik.ModelSchetchika)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
