@model IEnumerable<Accountool.Models.Models.FullIndicationModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TownName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indication.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indication.Tarif1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indication.Value)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(model => item.TownName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indication.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indication.Tarif1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indication.Value)
            </td>
            <td>
                    <input type="hidden" name="MeasureTypeId" value="@Model.FirstOrDefault()?.MeasureTypeId" />
                <a asp-controller="Indications" asp-action="Edit" asp-route-id="@item.Indication.Id">Edit</a> |
                <a asp-controller="Indications" asp-action="Details" asp-route-id="@item.Indication.Id">Details</a> |
                <a asp-controller="Indications" asp-action="Delete" asp-route-id="@item.Indication.Id">Delete</a>
            </td>
        </tr>}
    </tbody>
</table>
