@model IEnumerable<Accountool.Models.Models.FullIndicationModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TownName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indication.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indication.Tarif1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indication.Value)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(model => item.TownName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @item?.Indication?.Month.ToString("dd.MM.yyyy")
            </td>
            <td>
                @item?.Indication?.Tarif1.ToString("0.00")
            </td>
            <td>
                @item?.Indication?.Value.ToString("0.00")
            </td>
            <td>
                @{
                    int nextMonth = item?.Indication?.Month.Month + 1 ?? 1; if (nextMonth > 12) nextMonth = 1;
                }
                <input type="hidden" name="measureTypeId" value="@item?.MeasureTypeId" />
                <a asp-controller="Indications" asp-action="Edit" asp-route-id="@item.Indication.Id">Edit</a> |
                <a asp-controller="Indications" asp-action="Details" asp-route-id="@item.Indication.Id">Details</a> |
                <a asp-controller="Indications" asp-action="Delete" asp-route-id="@item.Indication.Id">Delete</a> |
                <a asp-controller="Prediction"
                    asp-action="GetPredictionFor"
                    asp-route-counterSelect="@item?.Indication?.SchetchikId"
                    asp-route-measureTypeId="@item?.MeasureTypeId"
                    asp-route-month="@nextMonth">
                    Predict
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>