@model Accountool.Models.Entities.Schetchik

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Schetchik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomerSchetchika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomerSchetchika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelSchetchika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelSchetchika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TexUchet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TexUchet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwoTarif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwoTarif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poverka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poverka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poteri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poteri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasureType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasureType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
