@model IEnumerable<Accountool.Models.Entities.Schetchik>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomerSchetchika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelSchetchika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TexUchet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoTarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poverka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poteri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasureType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomerSchetchika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelSchetchika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TexUchet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoTarif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poverka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poteri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
